<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/About us.css">
</head>
<body>
    <nav class="navigation">
        <a href="homepage"><img src="/static/images/WhatsApp Image 2023-12-08 at 9.39.30 PM.jpeg" class="image"></a>
        <a href="jobs" class="hype">Jobs</a>
        <a href="internships" class="hype">Internships</a>
        <a href="#resume" class="hype">Create resume</a>
        <a href="#loginpage" class="login">My Profile
        </a>
    </nav>
<h1 class="aboutus"><center><b>- Our Mission -</center></b></h1>
<pre class="aboutus content"><center>
    To provide the most actionable and user-friendly job-application portal.
    <h2>About</h2>
    At Jobshere, we all come to work because we want to solve the biggest problem. 
    <b>Everyone is guessing</b>. Hires don't know where to look for new talent. Job seekers don't know where to look at to get the best jobs 
    with comfortable working hours, decent salary, etc... Interns do not know what skills to have and where to look to get the best internships.

    Throughout the history of cooperate sector, people use job portals to make more informed decisions. 
    Our mission at Jobhere is to make the finding jobs easily and in a more transparent. 
    Today we provide the most actionable portal with whole data & insights of the industry. 
    We want to make this data available to as many people as possible.
    This portal is created by Dhruv Mukherjee, Harshit Malviya, Ronak Nangia, Aashi Bansal and Gulshan Chauhan. </center></pre>
<br><br><br>

<footer>
    <div class="footer">
    <a href="about us" class="hyp2">About Us</a>
    <a href="privacy policy" class="hyp2">Privacy Policy</a>
    <a href="report issue" class="hyp2">Report Issue</a>
    <a href="contact us" class="hyp2">Contact Us</a>
    </div>
</footer>
</body>

</html>