<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>Filter</title>
    <link rel="stylesheet" href="/static/css/filter.css">
</head>
<body>
    <div id="line">
    <b style="font-size: 100px;">Filters</b>
    <br><br><br>
    <div>
        
    <b>Experience:</b>
    <br>
    <input type="number" placeholder="Experience" class="Experience">
    <br><br>
    
    <div id="workmode">
    <div id="a"><b>workmode</b></div>
    <br>
    <input type="checkbox" class="workmode">
    Remote Work
    <br>
    <input type="checkbox" class="workmode">
    Work from office
    <br>
    <input type="checkbox" class="workmode">
    Hybrid Mode
    </div>
    <br>
    <div id="Education">
    <div id="b"><b>Education</b></div>
    <br>
    <input type="checkbox" class="Education">
    Graduate
    <br>
    <input type="checkbox" class="Education">
    Post-Graduate
    <br>
    <input type="checkbox" class="Education">
    Doctorate
    <br>
    <input type="checkbox" class="Education">
    Diploma
    </div>
    <br>
    <div id="Location">
    <div id="c"><b>Location</b></div>
    <br>
    <input type="checkbox" class="Location">
    Delhi-NCR
    <br>
    <input type="checkbox" class="Location">
    Noida
    <br>
    <input type="checkbox" class="Location">
    Gurgoan
    <br>
    <input type="checkbox" class="Location">
    Hauz khas
    </div>
    </div>
    <br>
    <button type="submit">Submit</button>
    </div>
    <div id="space" ></div>
    <div id="whitebox"></div>
    <div id="box"></div>

</body>
</html>