<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JobsHere.com</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/demo page (1).css">
</head>
<body>
    <nav class="navigation">
        <a href="homepage"><img src="/static/images/WhatsApp Image 2023-12-08 at 9.39.30 PM.jpeg" class="image"></a>
        <a href="jobs" class="hype">Jobs</a>
        <a href="internships" class="hype">Internships</a>
        <a href="#resume" class="hype">Create resume</a>
        <a href="#loginpage" class="login">My Profile
        </a>
    </nav>
<form><center>
    <input type="search" id="search" placeholder="search">
    <button type="submit" id="searchbutton">Search</button></center>
</form>
<button id="filter" onclick="window.location.href='filter'"><b>Filter</b></button>
<img src="/static/images/1.png" class="poster">
<footer>
    <div class="footer">
    <a href="about us" class="hyp2">About Us</a>
    <a href="privacy policy" class="hyp2">Privacy Policy</a>
    <a href="report issue" class="hyp2">Report Issue</a>
    <a href="contact us" class="hyp2">Contact Us</a>
    </div>
</footer>
</body>

</html>