<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/images/favicon.ico">
<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <img src="/static/images/WhatsApp Image 2023-12-08 at 9.39.30 PM.jpeg" height="30%" width="30%">
<div id="buttonsflexcontainer">
    <button class="signup"><a href="sign-up" style="color: white; text-decoration: none;">SignUp</a></button>
    <button class="open-button" onclick="openForm()">Login</button>
</div>
<div class="form-popup" id="myForm">
  <form class="form-container" method="post" action="">
    <h1>Login</h1>

    {% csrf_token %}
    <label for="username"><b>Email</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <input type="submit" value="Login" />
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

    <div class="remember">
      <label><input type="checkbox">Remember</label>
      <a href="#">Forgotten Password</a>
  </div>
  <div class="registration">
      <p>Don't have an account? <a href="sign-up">Sign up</a></p>
  </div>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

<h1 style="color: black;">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</h1>
<footer>Copyrights Reserved</footer>
</body>
</html>
