<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>{{Jobs.companyname}}</title>
    <link rel="stylesheet" href="/static/css/detl.css">
</head>
<body>
    <nav class="navigation">
        <a href="homepage"><img src="/static/images/WhatsApp Image 2023-12-08 at 9.39.30 PM.jpeg" class="image"></a>
        <a href="jobs" class="hype">Jobs</a>
        <a href="internships" class="hype">Internships</a>
        <a href="#resume" class="hype">Create resume</a>
        <a href="#loginpage" class="login">My Profile
        </a>
    </nav>
    {% for jobs in jobs %}
    <a href="#wbesitelink" target="_blank">
        <img src="{{jobs.banner}}" alt="{{jobs.companyname}} banner" id="banner">
    </a>
    <center><h1>{{jobs.role}} - {{jobs.companyname}}</h1></center>
    <p>
    Job Title : {{jobs.role}}<br>
    Company : {{jobs.companyname}}<br>
    {% comment %} Location : {{}}<br> {% endcomment %}
    Job Type : {{jobs.jobtype}}(3 months)<br>
    </p>
    <dl>
        <dt><u>Job Description</u></dt>
        <dd>{{jobs.jobdescription}}</dd>
        <hr>
        <dt><u>Responsibilities</u></dt>
        <dd>{{jobs.responsibilities}}</dd>
        <hr>
        <dt><u>Gains and Benefits</u></dt>
        <dd>
            {{jobs.gainsandbenefits}}
        </dd>
        <hr>
        <dt><u>Qualifications</u></dt>
        <dd>
            {{jobs.qualifications}}
        </dd>
        <hr>
        <dt><u>Additional Information</u></dt>
        <dd>
            {{jobs.additionalinformation}}
        </dd>
    </dl>
    <br>
    <button onclick="window.location.href='applyhere'">
    Apply for {{jobs.role}}-{{jobs.companyname}}
    </button>
    <hr>
    {% endfor %}
    <footer>
        <div class="footer">
        <a href="about us" class="hyp2">About Us</a>
        <a href="privacy policy" class="hyp2">Privacy Policy</a>
        <a href="report issue" class="hyp2">Report Issue</a>
        <a href="contact us" class="hyp2">Contact Us</a>
        </div>
    </footer>
</body>
</html>