<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>SBPS Teacher</title>
    <link rel="stylesheet" href="/static/css/detl.css">
</head>
<body>
    <nav class="navigation">
        <a href="homepage"><img src="/static/images/WhatsApp Image 2023-12-08 at 9.39.30 PM.jpeg" class="image"></a>
        <a href="jobs" class="hype">Jobs</a>
        <a href="internships" class="hype">Internships</a>
        <a href="#resume" class="hype">Create resume</a>
        <a href="#loginpage" class="login">My Profile
        </a>
    </nav>
    
    <a href="https://sbpsranchi.com/" target="_blank">
        <img src="/static/images/sbps.jpg" alt="SBPS Banner" id="banner">
    </a>
    <center><h1>Physics Teacher - Sarala Birla Public School</h1></center>
    <p>
    Job Title : Physics Teacher<br>
    Company : Sarala Birla Public School<br>
    Location : Ranchi<br>
    Job Type : Full-time.<br>
    </p>
    <dl>
        <dt><u>Job Description</u></dt>
        <dd>Sarala Birla Public School is seeking an enthusiastic and qualified Physics Teacher to inspire and educate students in the field of physics. The ideal candidate will have a passion for teaching, a deep understanding of physics concepts, and the ability to create a positive and engaging learning environment.</dd>
        <hr>
        <dt><u>Responsibilities</u></dt>
        <dd>
            <ol>
                <li>Curriculum Development:<br>
                    <ul>
                        <li>Develop and implement an effective and engaging physics curriculum aligned with educational standards.</li>
                        <li>Design lesson plans that cater to the diverse learning styles and abilities of students.</li>
                    </ul>
                </li>
                <li>Classroom Instruction:<br>
                    <ul>
                        <li>Deliver high-quality and interactive physics lessons that foster critical thinking and problem-solving skills.</li>
                        <li>Utilize a variety of teaching methods, resources, and technologies to enhance the learning experience.</li>
                    </ul>
                </li>
                <li>Student Assessment:<br>
                    <ul>
                        <li>Assess and evaluate students' understanding of physics concepts through various forms of assessment, including exams, projects, and presentations.</li>
                        <li>Provide constructive feedback to students to support their academic growth.</li>
                    </ul>
                </li>
                <li>Classroom Management:<br>
                    <ul>
                        <li>Create a positive and inclusive classroom environment that encourages active participation and respectful behavior.</li>
                        <li>Establish and enforce classroom rules and expectations.</li>
                    </ul>
                </li>
                <li>Professional Development:<br>
                    <ul>
                        <li>Stay updated on advancements in physics education and incorporate innovative teaching methods into the curriculum.</li>
                        <li>Participate in professional development activities to enhance teaching skills and knowledge.</li>
                    </ul>
                </li>
                <li>Parent Communication:<br>
                    <ul>
                        <li>Maintain open and effective communication with parents regarding students' progress and academic performance.</li>
                        <li>Attend parent-teacher conferences and respond to inquiries in a timely manner.</li>
                    </ul>
                </li>
                <li>Extracurricular Involvement:
                    <ul>
                        <li>Encourage and support students' participation in physics-related extracurricular activities, such as science fairs or physics clubs.</li>
                    </ul>
                </li>
            </ol>
        </dd>
        <hr>
        <dt><u>Qualifications</u></dt>
        <dd>
            <ul>
                <li>Bachelor's degree in Physics, Education, or a related field (Master's degree and teaching certification preferred).</li>
                <li>Proven experience as a Physics Teacher in a school setting.</li>
                <li>Deep knowledge of physics concepts and the ability to communicate them effectively to students.</li>
                <li>Strong classroom management and organizational skills.</li>
                <li>Excellent communication and interpersonal abilities.</li>
                <li>Commitment to creating a positive and inclusive learning environment.</li>
                <li>Familiarity with educational technologies and their integration into teaching.</li>
            </ul>
        </dd>
    </dl>
    <br>
    <p>If you are passionate about physics education and are dedicated to fostering a love for learning in students, we invite you to apply for the Physics Teacher position at Sarala Birla Public School. Join our team and contribute to the academic success and personal growth of our students. Apply now!</p>
    <br>
    <p>Mail your resumes at applications@sbpsranchi.ac.in</p>

    <footer>
        <div class="footer">
        <a href="about us" class="hyp2">About Us</a>
        <a href="privacy policy" class="hyp2">Privacy Policy</a>
        <a href="report issue" class="hyp2">Report Issue</a>
        <a href="contact us" class="hyp2">Contact Us</a>
        </div>
    </footer>
</body>
</html>