<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/static/css/privacy policy.css">
</head>
<body>
    <nav class="navigation">
        <a href="homepage"><img src="/static/images/WhatsApp Image 2023-12-08 at 9.39.30 PM.jpeg" class="image"></a>
        <a href="jobs" class="hype">Jobs</a>
        <a href="internships" class="hype">Internships</a>
        <a href="#resume" class="hype">Create resume</a>
        <a href="#loginpage" class="login">My Profile
        </a>
    </nav>
<center>
<h1 class="privacy"><b>Privacy Policy</b></h1>
<pre><b>Effective Date: 10 December 2023</b>

This policy explains what information we collect when you use Jobhere's sites, services, mobile applications, products, and content ("Services"). 
It also has information about how we store, use, transfer, and delete that information. Our aim is not just to comply with privacy law. 
It's to earn your trust.

<b>Information We Collect & How We Use It</b>

Jobhere doesn't make money from ads. So we don't collect data in order to advertise to you. 
The tracking we do at Jobhere is to make our product work as well as possible.

In order to give you the best possible experience using Jobhere, we collect information from your interactions with our network. 
Some of this information, you actively tell us (such as your email address, which we use to track your account or communicate with you). 
Other information, we collect based on actions you take while using Jobhere, such as what pages you access and your interactions with our product 
features (like highlights, follows, and applause). This information includes records of those interactions, your Internet Protocol address, 
information about your device (such as device or browser type), and referral information.

We use this information to:
->Provide, test, improve, promote and personalize Jobhere Services
->Fight spam and other forms of abuse
->Generate aggregate, non-identifying information about how people use Jobhere Services



</pre>
</center>



<footer>
    <div class="footer">
    <a href="about us" class="hyp2">About Us</a>
    <a href="privacy policy" class="hyp2">Privacy Policy</a>
    <a href="report issue" class="hyp2">Report Issue</a>
    <a href="contact us" class="hyp2">Contact Us</a>
    </div>
</footer>
</body>

</html>