<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>Axiom Python Internship</title>
    <link rel="stylesheet" href="/static/css/detl.css">
</head>
<body>
    <nav class="navigation">
        <a href="homepage"><img src="/static/images/WhatsApp Image 2023-12-08 at 9.39.30 PM.jpeg" class="image"></a>
        <a href="jobs" class="hype">Jobs</a>
        <a href="internships" class="hype">Internships</a>
        <a href="#resume" class="hype">Create resume</a>
        <a href="#loginpage" class="login">My Profile
        </a>
    </nav>
    
    <a href="https://www.axiommrc.com/" target="_blank">
        <img src="/static/images/axiom.jpg" alt="Axiom Banner" id="banner">
    </a>
    <center><h1>Python Internship - Axiom Corporation</h1></center>
    <p>
    Job Title : Python Intern<br>
    Company : Axiom Corporation<br>
    Location : Pune<br>
    Job Type : Internship (2 months)<br>
    </p>
    <dl>
        <dt><u>Job Description</u></dt>
        <dd>Axiom Corporation is thrilled to offer an enriching opportunity for a Python Intern to join our team for a 2-month internship. As a Python Intern, you will be immersed in real-world projects, gaining hands-on experience in Python development within a dynamic corporate setting.</dd>
        <hr>
        <dt><u>Responsibilities</u></dt>
        <dd>
            <ol>
                <li>Python Development:<br>
                    <ul>
                        <li>Contribute to Python programming projects under the guidance of experienced developers.</li>
                        <li>Work on tasks related to software development, debugging, and optimization.</li>
                    </ul>
                </li>
                <li>Collaboration:<br>
                    <ul>
                        <li>Engage in collaborative coding sessions with the development team.</li>
                        <li>Participate in team meetings to discuss project requirements and progress.</li>
                    </ul>
                </li>
                <li>Learning and Skill Development:<br>
                    <ul>
                        <li>Gain practical experience with Python and related technologies.</li>
                        <li>Expand your knowledge of software development practices and industry standards.</li>
                    </ul>
                </li>
                <li>Problem Solving:<br>
                    <ul>
                        <li>Tackle coding challenges and problem-solving tasks to enhance your programming skills.</li>
                        <li>Work on real-world scenarios to apply your Python knowledge.</li>
                    </ul>
                </li>
            </ol>
        </dd>
        <hr>
        <dt><u>Gains and Benefits</u></dt>
        <dd>
            <ul>
                <li>Certificates: Receive a certificate of completion at the end of the internship, recognizing your contributions and the skills gained during the program.</li>
                <li>Letter of Recommendation: Obtain a personalized letter of recommendation based on your performance during the internship.</li>
                <li>Performance-based Stipend: Enjoy a stipend of up to 4,000 rupees, with the potential for additional incentives based on exceptional performance during the 2-month internship period.</li>
                <li>Real-world Python Experience: Work on actual projects, applying Python programming concepts in a corporate environment.</li>
            </ul>
        </dd>
        <hr>
        <dt><u>Qualifications</u></dt>
        <dd>
            <ul>
                <li>Currently pursuing a degree in Computer Science, Information Technology, or a related field.</li>
                <li>Strong interest and foundational knowledge in Python programming.</li>
                <li>Familiarity with software development concepts and basic coding practices.</li>
                <li>Excellent problem-solving and communication skills.</li>
                <li>Eagerness to learn and contribute to a fast-paced development environment.</li>
            </ul>
        </dd>
        <hr>
        <dt><u>Additional Information</u></dt>
        <dd>
            <ul>
                <li>This is a 2-month internship position with the possibility of extension based on performance and business needs.</li>
                <li>The internship offers valuable insights into Python development and an opportunity to work with experienced professionals at Axiom Corporation.</li>
            </ul>
        </dd>
    </dl>
    <br>
    <p>If you are a motivated student eager to gain practical experience in Python development, Axiom Corporation invites you to apply. Join us for a dynamic learning experience and elevate your Python programming skills. Apply now!</p>
    <br>
    <p>Mail your resumes at applications@axiomcorp.ac.in</p>
    <footer>
        <div class="footer">
        <a href="about us" class="hyp2">About Us</a>
        <a href="privacy policy" class="hyp2">Privacy Policy</a>
        <a href="report issue" class="hyp2">Report Issue</a>
        <a href="contact us" class="hyp2">Contact Us</a>
        </div>
    </footer>
</body>
</html>